* {
    box-sizing: border-box;
}



/* 覆寫styles.css的body */

body {
    margin: 0 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
}

/* 覆寫styles.css的form-control*/

.form-control {
    width:250px;
    height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #3B3B3B;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e3e6ec;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#nav-link {
    font-size: 1.15rem;
}

#contactService {
    display: block;
    text-align: center;
    font-size: 18px;
}

#contactService {
    display: block;
    text-align: center;
}

#contactService {
    font-weight: bold;
    margin: auto;
    background-color: #DFDFDF;
    color: #5B352C !important;
    cursor: pointer;
    border-radius: 30px;
    padding: 5px;
}

.pt-10, .py-10 {
    padding-top: 1.5rem !important;
}

#main {
    border: #3B3B3B solid 2px;
    border-radius: 35px;
}

#AsideAndMain {
    margin-top: 40px;
    margin-bottom: 40px;
}

.page-header-title {
    color: seashell;
}

.form-control:focus {
    border-color: #5B352C;
    box-shadow: inset 0 1px 1px #5B352C;
}

/*以下為sideBar*/

.cart {
    padding-left: 0px;
    list-style: none;
    margin: 20px auto;
}

.cart a {
    text-decoration: none;
    color: #3B3B3B;
}

.cart>li {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.cart>li>a {
    background-color: #5B352C;
    border-radius: 30px;
    color: #fff;
    display: block;
    padding: 5px;
}

.cart ul li {
    list-style: none;
    margin: 5px;
}

.cart>li>a:hover, .cart>li>a.active {
    background-color: #DB7243;
    border-radius: 30px;
    color: #fff;
}

.cart ul {
    display: none;
    padding-left: 0px;
    background-color: #fff;
}

/* 取消autofill的顏色 */

input:-webkit-autofill {
    -webkit-text-fill-color: #3B3B3B;
    -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
    transition: background-color 5000s ease-in-out 0s;
}

/* 以下為基本資料區 */

#main .MainTitle {
    margin-top: 20px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #DB7243;
}

.btnSearch {
    display: inline-block;
    width: 100px;
    font-weight: 100px !important;
    color:white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #DB7243;
    border: 1px solid transparent ;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 45px;
}


#reportDate{
    padding:8px;
}

.reportSection{
    padding-right: 0px;
    padding-left:0px;
}

.sortAndPage{
    margin-top: 16px;;
    margin-bottom: 16px !important;
    display:flex;
    justify-content: left;
    align-items: center;

}

.sortAndPage select{
    width: 245px !important;
}

.sort{
    display: flex;
    justify-content: left;
    align-items: center;
}

table{
    text-align: center;
}
